<!DOCTYPE html>
<html lang="en">

<head>
     <title>Encodely - Login Node-JS</title>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <!--===============================================================================================-->
     <link rel="icon" type="image/png" href="styles/images/icons/favicon.ico" />
     <!--===============================================================================================-->
     <link rel="stylesheet" type="text/css" href="scripts/vendor/bootstrap/css/bootstrap.min.css">
     <!--===============================================================================================-->
     <link rel="stylesheet" type="text/css" href="styles/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
     <!--===============================================================================================-->
     <link rel="stylesheet" type="text/css" href="styles/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
     <!--===============================================================================================-->
     <link rel="stylesheet" type="text/css" href="styles/css/util.css">
     <link rel="stylesheet" type="text/css" href="styles/css/main.css">
     <!--===============================================================================================-->
</head>

<body>

     <div class="limiter">
          <div class="container-login100">
               <div class="row">
                    <div class="col-md-12 offset-md-12">
                         <img src="https://encodely.dev/img/logo.png" alt="logo Encodely" class="img-responsive">
                    </div>
               </div>
               <div class="row">
                    <div class="col-md-6"><a class="btn btn-outline-warning" style="color:rgb(71, 63, 63);"
                              href="login">Ingresar</a></div>
                    <div class="col-md-6"><a class="btn btn-outline-info" style="color:rgb(71, 63, 63);"
                              href="register">Registrar</a></div>
               </div>
          </div>
     </div>

     <!--===============================================================================================-->
     <script src="scripts/vendor/jquery/jquery-3.2.1.min.js"></script>
     <!--===============================================================================================-->
     <script src="scripts/vendor/animsition/js/animsition.min.js"></script>
     <!--===============================================================================================-->
     <script src="scripts/js/main.js"></script>

</body>

</html>